.Forms {
    text-align: center;
}

.Forms-logo {
    animation: Forms-logo-spin infinite 20s linear;
    height: 40vmin;
}

.Forms-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Forms-link {
    color: #61dafb;
}

@keyframes Forms-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
