@import "~@flowable/forms-react/flwforms.min.css";
@import "./mixins";

@include font-face(
  "montserrat-medium-webfont",
  "../assets/fonts/montserrat-medium-webfont"
);

*:not(text, tspan) {
  font-family: "montserrat-medium-webfont", sans-serif;
  font-weight: normal;
  font-style: normal;
}
